#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


div{
  /* OTP Input - Horizontal */
  display: inline;
}

.otpInput{
  width: 2.4rem;
  height: 2.4rem;
  margin:0.2rem;
  text-align: center;
  font-size: 1.2rem;
}